<h2>Конвертація:</h2>
<div class="converter">
    <div class="box" *ngFor="let i of fakeArr; let index=index">
        <form>
            <h4 *ngIf="index == 0">Оберіть валюту, яку продаєте:</h4>
            <h4 *ngIf="index == 1">Оберіть валюту, яку купуєте:</h4>
            <mat-form-field appearance="fill">
                <mat-label>Валюта</mat-label>
                <mat-select *ngIf="index == 0" [(value)]="currencyToSell" (valueChange)="onCurrencySellChange($event)">
                    <mat-option *ngFor="let rateName of ratesApiService.ratesToShow" value={{rateName}}>{{rateName}}
                    </mat-option>
                </mat-select>
                <mat-select *ngIf="index == 1" [(value)]="currencyToBuy" (valueChange)="onCurrencyBuyChange($event)">
                    <mat-option *ngFor="let rateName of ratesApiService.ratesToShow" value={{rateName}}>{{rateName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input *ngIf="index == 0" matInput type="number" min="0" value="{{amountToSell.toFixed(2)}}"
                    (input)="onAmountSellChange($event)">
                <input *ngIf="index == 1" matInput type="number" min="0" value="{{amountToBuy.toFixed(2)}}"
                    (input)="onAmountBuyChange($event)">
            </mat-form-field>
        </form>
    </div>
</div>